.sidebar-wrapper {
  @include breakpoint($large) {
    float: left;
    width: 300px;
    margin-right: 2em;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2em;
  padding-top: 2em;
}

.sidebar-grid {
  font-size: 1.1em;
}

.main-content-grid {
  /* styles for the main content */
}
