/* ==========================================================================
   SIDEBAR
   ========================================================================== */

/*
   Default
   ========================================================================== */

.sidebar {
  @include clearfix();
  // @include breakpoint(max-width $large) {
  //   /* fix z-index order of follow links */
  //   position: relative;
  //   z-index: 10;
  //   -webkit-transform: translate3d(0, 0, 0);
  //   transform: translate3d(0, 0, 0);
  // }

  @include breakpoint($large) {
    float: inline-start;
    width: calc(#{$right-sidebar-width-narrow} + 1.5em);
    opacity: 1;

    &.sticky {
      overflow: visible;
      /* calculate height of nav list
         viewport height - nav height - masthead x-padding
      */
      max-height: none;
    }
  }

  @include breakpoint($x-large) {
    width: calc(#{$right-sidebar-width} + 1em);
  }

  > * {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
    font-family: $sans-serif-narrow;
  }

  p,
  li {
    font-family: $sans-serif;
    font-size: $type-size-6;
    line-height: 1.5;
  }

  img {
    width: 100%;

    &.emoji {
      width: 20px;
      height: 20px;
    }
  }
}

.sidebar__right {
  margin-bottom: 1em;

  @include breakpoint($large) {
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    width: $right-sidebar-width-narrow;
    margin-inline-end: -1 * $right-sidebar-width-narrow;
    padding-inline-start: 1em;
    z-index: 10;

    &.sticky {
      @include clearfix();
      position: -webkit-sticky;
      position: sticky;
      top: 2em;
      float: inline-end;

      .toc {
        .toc__menu {
          overflow-y: auto;
          max-height: calc(100vh - 7em);
        }
      }
    }
  }

  @include breakpoint($x-large) {
    width: $right-sidebar-width;
    margin-inline-end: -1 * $right-sidebar-width;
  }
}

.splash .sidebar__right {
  @include breakpoint($large) {
    position: relative;
    float: inline-end;
    margin-inline-end: 0;
  }

  @include breakpoint($x-large) {
    margin-inline-end: 0;
  }
}

/*
   Author profile and links
   ========================================================================== */

.author__avatar {
  display: table-cell;
  vertical-align: top;
  width: 36px;
  height: 36px;

  @include breakpoint($large) {
    display: block;
    width: 110px;
    height: 110px;
  }

  img {
    width: 100%;
    height: 100%;
    max-width: 110px;
    object-fit: cover;
    object-position: center 20%;
    border-radius: 50%;

    @include breakpoint($large) {
      padding: 5px;
      border: 1px solid $border-color;
    }
  }
}

.author__content {
  display: table-cell;
  vertical-align: top;
  padding-inline: 15px 25px;
  line-height: 1;

  @include breakpoint($large) {
    display: block;
    width: 100%;
    padding-inline: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.author__name {
  margin: 0;

  @include breakpoint($large) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.sidebar .author__name {
  font-family: $sans-serif;
  font-size: 0.9em;
}

.author__bio {
  margin: 0;
  font-size: $type-size-6;

  @include breakpoint($large) {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.author__urls-wrapper {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  font-family: $sans-serif;
  z-index: 20;
  cursor: default;

  li:last-child {
    a {
      margin-bottom: 0;
    }
  }

  .author__urls {
    span.label {
      padding-inline-start: 5px;
    }
  }

  @include breakpoint($large) {
    display: block;
  }

  button {
    display: none;
  }
}

.author__urls {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 0;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  cursor: default;

  &.is--visible {
    display: block;
  }

  &::before {
    display: none;
    content: "";
    position: absolute;
    top: -11px;
    inset-inline-start: calc(50% - 10px);
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: $border-color transparent;
    z-index: 0;

  }

  &:after {
    display: none;
    content: "";
    position: absolute;
    top: -10px;
    inset-inline-start: calc(50% - 10px);
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: $background-color transparent;
    z-index: 1;

  }

  ul {
    padding: 10px;
    list-style-type: none;
  }

  li {
    white-space: normal;
    font-size: $type-size-6;
  }

  a {
    display: block;
    margin-bottom: 5px;
    padding-block: 2px;
    padding-inline-end: 5px;
    color: inherit;
    font-size: $type-size-6;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/*
   Wide Pages
   ========================================================================== */

.wide .sidebar__right {
  margin-bottom: 1em;

  @include breakpoint($large) {
    position: initial;
    top: initial;
    inset-inline-end: initial;
    width: initial;
    margin-inline-end: initial;
    padding-inline-start: initial;
    z-index: initial;

    &.sticky {
      float: none;
    }
  }

  @include breakpoint($x-large) {
    width: initial;
    margin-inline-end: initial;
  }
}
